{% load i18n humanize %}

<{{ tag|default:"li" }} id="set-{{ entryset.pk }}" class="set media shadow-sm p-4 ml-2 mb-4">
  <div class="media-body">
    <div class="d-flex justify-content-between">
      <a href="{{ entryset.get_absolute_url }}" class="h3 text-decoration-none m-0">
        {{ entryset }}
      </a>

      <div class="btn-group btn-group-sm" role="group">
        <button class="btn btn-link collapse-open">
          {% trans "open all" %}
        </button>

        <button class="btn btn-link collapse-close">
          {% trans "close all" %}
        </button>
      </div>
    </div>

    <hr>

    <div class="accordion">
      {% for entry in entryset.entries.all %}
        {% include "entries/includes/accordion_card.html" %}
      {% endfor %}
    </div>

    <hr>

    <div class="d-flex justify-content-between align-items-center">
      {% with entryset.get_author as author %}
        {% if author.is_authenticated %}
          <a href="{{ author.get_absolute_url }}">
            {{ author.username }}
          </a>
        {% else %}
          <span>
            {{ author.username }}
          </span>
        {% endif %}
      {% endwith %}

      <div>
        <span class="text-muted mr-1">
          {% blocktrans with humanized_num_entries=entryset.num_entries|apnumber count num_entries=entryset.num_entries trimmed %}
            {{ humanized_num_entries }} entry
          {% plural %}
            {{ humanized_num_entries }} entries
          {% endblocktrans %}
        </span>

        <span class="text-muted ml-1">
          {% blocktrans with humanized_num_replies=entryset.num_replies|apnumber count num_replies=entryset.num_replies trimmed %}
            {{ humanized_num_replies }} reply
          {% plural %}
            {{ humanized_num_replies }} replies
          {% endblocktrans %}
        </span>
      </div>

      <span class="text-muted d-none d-md-block">
        {{ entryset.created|date:"SHORT_DATETIME_FORMAT" }}
      </span>
    </div>
  </div>
</{{ tag|default:"li" }}>
