[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
mypy = "*"
django-stubs = "*"
django-debug-toolbar = "*"
black = "==19.10b0"
flake8 = "*"
flake8-logging-format = "*"
flake8-comprehensions = "*"
flake8-mutable = "*"
flake8-debugger = "*"
flake8-django = "*"
flake8-eradicate = "*"
model-bakery = "*"
faker = "*"

[packages]
django = "*"
psycopg2-binary = "*"
environs = {extras = ["django"],version = "*"}
django-mptt = "*"
requests = "*"

[requires]
python_version = "3.8"

[scripts]
test = "docker-compose run --rm web python manage.py test --settings=config.settings.testing"
