{% extends 'hero.html' %}
{% load i18n static %}

{% block hero_content %}
  {{ block.super }}

  <form
    action="{{ request.path_info }}"
    method="post"
    novalidate
    autocomplete="off"
    id="entryset-form"
  >
    {% csrf_token %}

    {% if formset.non_form_errors %}
      <div class="non-form-errors">
        {% for error in formset.non_form_errors %}
          <div class="alert alert-danger" role="alert">
            {{ error }}
          </div>
        {% endfor %}
      </div>
    {% endif %}

    <div class="form-group">
      <label for="{{ form.name.id_for_label }}">
        {{ form.name.label }}
      </label>

      <input
        type="text"
        name="{{ form.name.html_name }}"
        value="{{ form.name.value|default_if_none:"" }}"
        id="{{ form.name.id_for_label }}"
        {% if field.field.required %}required{% endif %}
        class="form-control"
      >

      <small class="form-text text-muted">
        {{ form.name.help_text }}
      </small>
    </div>

    <hr>

    {{ formset.management_form }}
    {% for form in formset.forms %}
      {% include "entries/includes/entry_form.html" with form=form %}
    {% endfor %}

    <div class="mb-2">
      <button type="button" id="add-entry" class="btn btn-dark btn-sm px-2">
        {% trans "Add" %}
      </button>
    </div>

    <div>
      <button type="submit" class="btn btn-primary btn-lg px-4">
        {{ submit_text }}
      </button>
    </div>
  </form>

  <div id="empty-form" class="d-none">
    {% include "entries/includes/entry_form.html" with form=formset.empty_form %}
  </div>
{% endblock hero_content %}

{% block js %}
  {{ block.super }}
  <script src="{% static 'js/entryset_form.js' %}"></script>
{% endblock js %}
