{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  {% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %}</title>

    {% block css %}
      <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    {% endblock css %}
  {% endblock head %}
</head>
<body>
  {% include "header.html" %}

  <main>
    {% block content %}
      {% if messages %}
        <div class="container">
          <ul class="list-unstyled my-3">
            {% for message in messages %}
              <li
                class="alert {% if message.tags %}{{ message.tags }}{% endif %}"
                role="alert"
              >
                {{ message }}
              </li>
            {% endfor %}
          </ul>
        </div>
      {% endif %}
    {% endblock content %}
  </main>

  {% include "footer.html" %}

  {% block js %}
    <script src="{% static 'js/jquery-3.5.1.slim.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/app.js' %}"></script>
  {% endblock js %}
</body>
</html>
