{% load i18n %}

<footer class="jumbotron jumbotron-fluid m-0 py-4">
  <div class="container">
    <div class="row mb-3">
      <div class="col text-center">
        <a
          href="{% url 'entries:create' %}"
          class="btn btn-outline-primary btn-lg font-weight-bold"
        >
          {% trans "Create unique set" %}
        </a>
      </div>
    </div>

    <div class="row mb-4">
      <div class="col-12 col-sm-6 mb-2 mb-sm-0">
        <ol class="list-group list-group-flush rounded">
          <li class="list-group-item list-group-item-dark font-dark font-weight-bold">
            {% trans "Recent sets" %}
          </li>

          {% for entryset in recent_entrysets %}
            <li class="list-group-item">
              <a
                href="{{ entryset.get_absolute_url }}"
                class="d-block font-weight-bold text-decoration-none"
              >
                {{ entryset }}
              </a>

              {% with entryset.get_author as author %}
                <a
                  href="{{ author.get_absolute_url }}"
                  class="text-muted text-decoration-none"
                >
                  <small>
                    {{ author.username }}
                  </small>
                </a>
              {% endwith %}
            </li>
          {% empty %}
            <li class="list-group-item text-center">
              <i>
                {% trans "No recent sets yet." %}
              </i>
            </li>
          {% endfor %}
        </ol>
      </div>

      <div class="col-12 col-sm-6">
        <ol class="list-group list-group-flush rounded">
          <li class="list-group-item list-group-item-dark font-dark font-weight-bold">
            {% trans "Top authors" %}
          </li>

          {% for author in top_authors %}
            <li class="list-group-item d-flex justify-content-between align-items-center">
              <a
                href="{{ author.get_absolute_url }}"
                class="font-weight-bold text-decoration-none"
              >
                {{ author.username }}
              </a>

              <span class="badge badge-dark badge-pill">
                {{ author.num_sets }}
              </span>
            </li>
          {% empty %}
            <li class="list-group-item text-center">
              <i>
                {% trans "No authors yet." %}
              </i>
            </li>
          {% endfor %}
        </ol>
      </div>
    </div>

    <div class="row">
      <div class="col d-flex justify-content-center">
        {% now "Y" as year %}
        {% blocktrans with year=year trimmed %}
          &#169; {{ year }} Changeme. All Rights Reserved.
        {% endblocktrans %}
      </div>
    </div>
  </div>
</footer>
