{% load common_tags %}

<nav aria-label="Pagination">
  <ul class="pagination">
    {% if page_obj.has_previous %}
      {% transform_query page=page_obj.previous_page_number as previous_page_query %}

      <li class="page-item">
        <a href="?{{ previous_page_query }}" class="page-link">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>

      <li class="page-item {% if page_obj.number == 1 %}disabled{% endif %}">
        <a href="?{% transform_query page=1 %}" class="page-link">
          1
        </a>
      </li>

      {% if page_obj.previous_page_number != 1 %}
        <li class="page-item">
          <a href="?{{ previous_page_query }}" class="page-link">
            {{ page_obj.previous_page_number }}
          </a>
        </li>
      {% endif %}
    {% endif %}

    <li class="page-item active">
      <a href="#" class="page-link">
        {{ page_obj.number }}
      </a>
    </li>

    {% if page_obj.has_next %}
      {% transform_query page=page_obj.next_page_number as next_page_query %}

      {% if page_obj.next_page_number != page_obj.paginator.num_pages %}
        <li class="page-item">
          <a href="?{{ next_page_query }}" class="page-link">
            {{ page_obj.next_page_number }}
          </a>
        </li>
      {% endif %}

      <li class="page-item">
        <a href="?{% transform_query page=page_obj.paginator.num_pages %}" class="page-link">
          {{ page_obj.paginator.num_pages }}
        </a>
      </li>

      <li class="page-item">
        <a href="?{{ next_page_query }}" class="page-link">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    {% endif %}
  </ul>
</nav>
