{% extends 'base.html' %}
{% load common_tags mptt_tags %}

{% block content %}
  {{ block.super }}

  <section>
    <h1>
      {{ entryset }}
    </h1>

    <span>
      Author: {% get_username entryset %}
    </span>

    <hr>

    <ul>
    {% for entry in entryset.entries.all %}
      <li>
        [{{ entry.get_type_display }}]

        {% if entry.origin.pk != entryset.pk and entry.in_origin %}
          <span>
            [reposted from
            <a href="{{ entry.origin.get_absolute_url }}">
              {{ entry.origin }}
            </a>]
          </span>
        {% endif %}

        <form action="{% url 'entries:repost' pk=entry.pk %}" method="post">
          {% csrf_token %}
          <button type="submit">
            Repost
          </button>
        </form>

        <div>
          {{ entry.render }}
        </div>
      </li>
    {% endfor %}
    </ul>
  </section>

  <section>
    <h3>Replies</h3>

    {% with entryset.replies.all as replies %}
      {% if replies %}
        {% recursetree replies %}
          <ul>
            <li>
              [{% get_username node %}] {{ node }}
              <div>
                <a
                  href="{% url 'replies:post' %}?entryset={{ entryset.pk }}&reply={{ node.pk }}"
                >
                  Reply
                </a>
              </div>
            </li>
            {% if children %}
              <li>{{ children }}</li>
            {% endif %}
          </ul>
        {% endrecursetree %}
      {% else %}
        <p>No replies yet.</p>
      {% endif %}

      <div>
        <a href="{% url 'replies:post' %}?entryset={{ entryset.pk }}">
          Reply
        </a>
      </div>
    {% endwith %}
  </section>
{% endblock content %}
