{% extends 'base.html' %}
{% load i18n humanize %}

{% block content %}
  {{ block.super }}

  <div class="jumbotron jumbotron-fluid mb-0 bg-dark text-light">
    <div class="container">
      <h1 class="display-3 pb-1 font-weight-bold text-center border-bottom">
        {{ entryset }}
      </h1>

      <div class="row row-cols-1">
        <div class="col d-flex justify-content-center">
          <p class="lead mb-0">
            {% with entryset.get_author as author %}
              {% blocktrans with author_name=author.username author_url=author.get_absolute_url trimmed %}
                by
                <a href="{{ author_url }}" class="text-decoration-none">
                  {{ author_name }}
                </a>
              {% endblocktrans %}
            {% endwith %}
          </p>
        </div>

        <div class="col d-flex justify-content-center">
          <p class="lead mb-0 mr-3">
            {% blocktrans with humanized_num_entries=entryset.num_entries|apnumber count num_entries=entryset.num_entries trimmed %}
              {{ humanized_num_entries }} entry
              {% plural %}
              {{ humanized_num_entries }} entries
            {% endblocktrans %}
          </p>

          <p class="lead mb-0">
            {% blocktrans with humanized_num_replies=entryset.num_replies|apnumber count num_replies=entryset.num_replies trimmed %}
              {{ humanized_num_replies }} reply
              {% plural %}
              {{ humanized_num_replies }} replies
            {% endblocktrans %}
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="row row-cols-1">
    {% for entry in entryset.entries.all %}
      <div
        class="col p-4 {% if not forloop.counter0|divisibleby:"2" %}bg-light{% endif %}"
      >
        <div class="row row-cols-1">
          <div class="col d-flex justify-content-center">
            <h4 class="my-0 mr-2">
              <span class="badge badge-dark">
                {{ entry.get_type_display }}
              </span>
            </h4>

            {% if entry.origin.pk != entryset.pk %}
              <h4 class="mr-2">
                <a
                  href="{{ entry.origin.get_absolute_url }}"
                  class="badge badge-primary"
                >
                  {% trans "Origin" %}
                </a>
              </h4>
            {% endif %}

            <h4>
              <span class="badge badge-info">
                🔗 {{ entry.num_of_sets }}
              </span>
            </h4>
          </div>

          <div class="col my-2 d-flex justify-content-center">
            {% if entry.type == 0 %}
              <div class="jumbotron py-4 mx-4 mb-0 position-relative text-center">
                <div class="container">
                  {% if entry.label %}
                    <h3 class="font-weight-light">
                      {{ entry.label }}
                    </h3>
                  {% endif %}

                  <a
                    href="{{ entry.url }}"
                    target="_blank"
                    rel="noopener noreferrer"
                    class="btn btn-link btn-lg text-monospace stretched-link"
                  >
                    {{ entry.url }}
                  </a>

                </div>
              </div>
            {% else %}
              {{ entry.render }}
            {% endif %}
          </div>

          <div class="col d-flex justify-content-center">
            <form action="{% url 'entries:repost' pk=entry.pk %}" method="post">
              {% csrf_token %}
              <button type="submit" class="btn btn-primary font-weight-bold">
                {% trans "Repost" %}
              </button>
            </form>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>

  <div class="jumbotron jumbotron-fluid mb-0 py-4 bg-dark text-light">
    <div class="container">
      <h4 class="display-4 text-center mb-3">
        {% trans "Replies" %}
      </h4>

      {% if entryset.num_replies %}
        {% load static mptt_tags %}

        {% recursetree entryset.replies.all %}
          <div id="reply-{{ node.pk }}" class="media my-3">
            <img
              src="{% static 'img/user_light.svg' %}"
              width="56"
              height="56"
              alt="user image"
              class="rounded mr-2 align-self-start"
            >

            <div class="media-body">
              <div class="d-flex align-items-center">
                {% with node.get_author as author %}
                  {% if author.is_authenticated %}
                    <a
                      href="{{ author.get_absolute_url }}"
                      class="text-decoration-none mr-2"
                    >
                      {{ author.username }}
                    </a>
                  {% else %}
                    <span class="mr-2">
                      {{ author.username }}
                    </span>
                  {% endif %}
                {% endwith %}

                <small>
                  {{ node.created|date:"SHORT_DATETIME_FORMAT" }}
                </small>
              </div>

              <p class="font-weight-bold my-1">{{ node.text }}</p>

              <div class="d-flex">
                <a
                  href="{% url 'replies:post' %}?entryset={{ entryset.pk }}&reply={{ node.pk }}"
                  class="text-decoration-none"
                >
                  {% trans "Reply" %}
                </a>
              </div>

              {{ children }}
            </div>
          </div>
        {% endrecursetree %}
      {% else %}
        <p class="lead text-center">
          {% trans "No replies yet. Be the first to add one." %}
        </p>
      {% endif %}

      <div class="d-flex justify-content-center">
        <a
          href="{% url 'replies:post' %}?entryset={{ entryset.pk }}"
          class="btn btn-outline-primary btn-lg px-4 font-weight-bold"
        >
          {% trans "Reply" %}
        </a>
      </div>
    </div>
  </div>
{% endblock content %}
