{% extends 'base.html' %}
{% load i18n humanize common_tags %}

{% block content %}
  {{ block.super }}

  <div class="jumbotron jumbotron-fluid py-4 bg-dark text-light">
    <div class="container">
      <h4 class="display-4 font-weight-bold">
        {% trans "Sets" %}
      </h4>

      <p class="lead">
        {% trans "Create your fascinating content sets 🥳" %}
      </p>

      <a
        href="{% url 'entries:create' %}"
        class="btn btn-success btn-lg font-weight-bold px-4"
      >
        {% trans "Create" %}
      </a>
    </div>
  </div>

  <div class="container">
    <div class="row row-cols-1">
      <div class="col px-0">
        <h4 class="display-4 text-center">
          {% trans "Check out our users sets" %}
        </h4>
      </div>

      <div class="col px-0">
        <ul class="list-unstyled">
          {% for entryset in page_obj %}
            {% include "entries/includes/entryset_item.html" with entryset=entryset %}
          {% endfor %}
        </ul>
      </div>

      <div class="col px-0 d-flex justify-content-center">
        {% include "pagination.html" with page_obj=page_obj %}
      </div>
    </div>
  </div>
{% endblock content %}
